footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(100, 100,109);
    color: white;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
 }

 #facebook{
    width: 9.7%;
    height: 9.7%;
 }

 #linkedin{
    width: 9.7%;
    height: 9.7%;
 }

 
 #footer-line{
    width: 50%;
    text-align: center;
 }