<div class="profile-div" *ngIf="appLanguage == appLanguageEnum.Bulgarian">
    <ul>
        <li><a href="#home">За мен</a></li>
        <li><a href="#news">Образование</a></li>
        <li><a href="#contact">Професионален опит</a></li>
        <li><a href="#about">Проекти</a></li>
    </ul>
</div>


<div class="profile-div" *ngIf="appLanguage == appLanguageEnum.English">
    <ul>
        <li><a href="#home" (click)="changeNavContent(navigationContentType.AboutMe)">About me</a></li>
        <li><a href="#news" (click)="changeNavContent(navigationContentType.Education)">Education</a></li>
        <li><a href="#contact" (click)="changeNavContent(navigationContentType.ProffesionalCareer)">Professional career</a></li>
        <li><a href="#about" (click)="changeNavContent(navigationContentType.Projects)">Projects</a></li>
    </ul>
</div>



<div *ngIf="appLanguage == appLanguageEnum.English">

    <div class="navigation-content-container">
        <div *ngIf="navigationContentChoosen == navigationContentType.AboutMe">
            Born in Lom city in Bulgaria.
        </div>

        <div *ngIf="navigationContentChoosen == navigationContentType.Education">
            Master of Engineering at the Technical University of Sofia 2020
        </div>
        <div *ngIf="navigationContentChoosen == navigationContentType.ProffesionalCareer">
            work as Full stack developer (July 2017 - till now ) 
            <br> 
            Developing front-end and back-end projects for banking industry. 
            <br>
            Managing databases.
        </div>
        <div *ngIf="navigationContentChoosen == navigationContentType.Projects">
            Projects
        </div>
    </div>
</div>