<div class="profile-div" *ngIf="appLanguage == appLanguageEnum.Bulgarian">
    <ul>
        <li><a href="#home">За мен</a></li>
        <li><a href="#contact">Професионален опит</a></li>
        <li><a href="#about">Проекти</a></li>
    </ul>
</div>


<div class="profile-div" *ngIf="appLanguage == appLanguageEnum.English">
    <ul>
        <li><a href="#home" (click)="changeNavContent(navigationContentType.AboutMe)">About me</a></li>
        <li><a href="#contact" (click)="changeNavContent(navigationContentType.ProffesionalCareer)">Professional career</a></li>
        <li><a href="#about" (click)="changeNavContent(navigationContentType.Projects)">Projects</a></li>
    </ul>
</div>



<div *ngIf="appLanguage == appLanguageEnum.English">

    <div class="navigation-content-container">
        <div *ngIf="navigationContentChoosen == navigationContentType.AboutMe">
                Welcome to the site. My name is Asen Nikolaev.
                Born in Lom in Bulgaria. Graduated with a master 's degree from the Technical University of Sofia in 2020    
                <br>
                I am a software engineer by profession. I like Java, JavaScript, SQL, Android and other technologies.
                <br>                
                I have been working on applications for the banking industry in Bulgaria and Germany for the last 4 years.
                <br>               
                The technologies we use in the development follow: Java, SpringBoot, Angularjs, Angular.
                <br>
                Databases : Oracle, PostgreSQL.
                <br>
                Servers : Tomcat, WebLogic, Openshift, Kubernetes.    
                <br>
                In my spare time, I develop a mobile apps for Android that you can see from my Google Play account from
                <a href="https://play.google.com/store/apps/developer?id=Asen+Nikolaev" target="popup">
                    <b>here.</b>
                </a>
        </div>
        <div *ngIf="navigationContentChoosen == navigationContentType.ProffesionalCareer">
            work as Full stack developer (July 2017 - till now )
            <br>
            Developing front-end and back-end projects for banking industry.
            <br>
            Managing databases.
            Technology stack:
            - JAVA - Spring Boot
            - Oracle
            - Angular 4+
        </div>
        <div *ngIf="navigationContentChoosen == navigationContentType.Projects">
            Education android apps in Google play
            <br>

            <a href="https://play.google.com/store/apps/details?id=com.asennikolaev.learninganimals" target="popup">
                <img class="android-app-icon" alt="app" src="https://play-lh.googleusercontent.com/YECtjvheFDoz45Bfdxrhtg0OFCbAbWc_oBq8PdDJxiU_chZS0B5n3aY-L0pW09U83f1A=s180-rw" />
            </a>
            <br>

            <span class="application-name"> Animals in English learning quiz </span>

            <br>
            <a href="https://play.google.com/store/apps/details?id=com.asennikolaev.learninganimals.spanish" target="popup">
                <img class="android-app-icon" alt="app" src="https://play-lh.googleusercontent.com/3eHbNcIpM4q9j3CJwR8WVBmMx8m5dQkJ5k22iLYGTil3XufYrhHhmynD3iVfUYjWcmU=s180-rw" />
            </a>
            <br>
            <span class="application-name"> Animals in Spanish learning quiz </span>
            <br>


        </div>
    </div>
</div>


<div *ngIf="appLanguage == appLanguageEnum.Bulgarian">

    <div class="navigation-content-container">
        <div *ngIf="navigationContentChoosen == navigationContentType.AboutMe">
            Добре дошли в сайта. Казвам се Асен Николаев.
            Роден в гр. Лом във България. Завършил съм магистратура в Технически университет София през 2020 г.
            <br>
            По професия съм софтуерен инженер. Харесвам Java, JavaScript, SQL, Android и други технологии.
            <br>
            От 4 години работя по приложения за банковата индустрия в България и Германия.
            <br>
            Технологиите които използваме в разработката следват : Java, SpringBoot, Angularjs, Angular.
            <br>
            Бази данни : Oracle, PostgreSQL.
            <br>
            Сървъри : Tomcat, WebLogic, Openshift, Kubernetes.

            <br>
            В свободното си време, разработвам мобилни приложения за Android които може да видите от профилът ми в Google Play от
            <a href="https://play.google.com/store/apps/developer?id=Asen+Nikolaev" target="popup">
                <b>тук.</b>
            </a>

        </div>
        <div *ngIf="navigationContentChoosen == navigationContentType.ProffesionalCareer">
            Full stack developer (Юли 2017 - досега )
            <br>
            Developing front-end and back-end projects for banking industry.
            <br>
            Managing databases.
            Technology stack:
            - JAVA - Spring Boot
            - Oracle
            - Angular 4+
        </div>
        <div *ngIf="navigationContentChoosen == navigationContentType.Projects">
            Образователни android приложения в Google play
            <br>

            <a href="https://play.google.com/store/apps/details?id=com.asennikolaev.learninganimals" target="popup">
                <img class="android-app-icon" alt="app" src="https://play-lh.googleusercontent.com/YECtjvheFDoz45Bfdxrhtg0OFCbAbWc_oBq8PdDJxiU_chZS0B5n3aY-L0pW09U83f1A=s180-rw" />
            </a>
            <br>

            <span class="application-name"> Animals in English learning quiz </span>

            <br>
            <a href="https://play.google.com/store/apps/details?id=com.asennikolaev.learninganimals.spanish" target="popup">
                <img class="android-app-icon" alt="app" src="https://play-lh.googleusercontent.com/3eHbNcIpM4q9j3CJwR8WVBmMx8m5dQkJ5k22iLYGTil3XufYrhHhmynD3iVfUYjWcmU=s180-rw" />
            </a>
            <br>
            <span class="application-name"> Animals in Spanish learning quiz </span>
            <br>


        </div>
    </div>
</div>