<div id="adminDiv" *ngIf="bgLanguage">

    <p>български модел</p>


    <ul>
        <li><a href="#home">За мен</a></li>
        <li><a href="#news">Образование</a></li>
        <li><a href="#contact">Професионален опит</a></li>
        <li><a href="#about">Проекти</a></li>
    </ul>

</div>

<div id="adminDiv" *ngIf="enLanguage">

    <p>english model</p>


    <ul>
        <li><a href="#home">About me</a></li>
        <li><a href="#news">Education</a></li>
        <li><a href="#contact">Proffesional career</a></li>
        <li><a href="#about">Projects</a></li>
    </ul>

</div>