.profile-div{
  margin-top: 1%;
  text-align: center;
}

.text-name{ 
  color:white;
  font-size: 150%;
}

#flags-box{ 
  // margin-left: 50%;
  padding-bottom: 1%;
}

.profile-picture{
  border-radius: 50%;
}


.en-flag{ 
  width: 58px;
  margin-left: 1.5%;
}
.bg-flag{
  width: 50px;
}
