<div id="flags-box">
    <img class="bg-flag" src="/assets/flags/bg.jpg" (click)="changeLanguage('en')" />

    <img class="en-flag" src="/assets/flags/en.jpg" (click)="changeLanguage('bg')" />

</div>
<div id="adminDiv" *ngIf="bgLanguage">

    <div class="pic-name">
        <img src="/assets/asen-costume.jpg" />
        <p class="text-name">Асен Николаев</p>
    </div>


    <ul>
        <li><a href="#home">За мен</a></li>
        <li><a href="#news">Образование</a></li>
        <li><a href="#contact">Професионален опит</a></li>
        <li><a href="#about">Проекти</a></li>
    </ul>

</div>

<div id="adminDiv" *ngIf="enLanguage">



    <div class="pic-name">
        <img src="/assets/asen-costume.jpg" />
        <p class="text-name">Asen Nikolaev</p>
    </div>

    <ul>
        <li><a href="#home">About me</a></li>
        <li><a href="#news">Education</a></li>
        <li><a href="#contact">Proffesional career</a></li>
        <li><a href="#about">Projects</a></li>
    </ul>

</div>