.text-name{ 
  color:white;
  font-size: 150%;
}

.profile-div{
  margin-left: 43%;
}

#flags-box{ 
  // margin-left: 50%;
  padding-bottom: 1%;
}

.profile-picture{
  border-radius: 50%;
}


.en-flag{ 
  width: 58px;
  margin-left: 1.5%;
}
.bg-flag{
  width: 50px;
}


@media only screen and (max-width: 500px) {
  .profile-div{
    margin-left: 34%;
  }
}